{% include 'navbar.html' %}

<div class="container-text">
    <h1 class="text-center mt-4">Aventura</h1>
    <p class="text-justify ">
        Susan Fletcher, jefa de la división de criptología de la NSA (Agencia de Seguridad Nacional) , se enfrenta a un problema sin precedentes. El superordenador TRANSLTR, de dos mil millones de dólares y tres millones de microprocesadores, utilizado por la NSA para descifrar todos los códigos que cifran las comunicaciones mundiales (correos electrónicos, etc.), se encuentra en un callejón sin salida cuando Ensei Tankado, un antiguo criptólogo de la NSA, revela la existencia de un nuevo algoritmo. Mientras que normalmente se tarda unos minutos en descifrar un archivo, este superordenador siempre busca la solución al cabo de tan sólo 15 horas, lo que sólo puede explicarse por la existencia de un código indescifrable, la Fortaleza Digital.
    </p>
    
    <p class="text-justify">Mientras su prometido David Becker es enviado a "Un simple viaje de ida y vuelta" en España por el comandante Trevor Strathmore, Susan es llamada al rescate por este último para encontrar el motivo del problema. Susan se da cuenta rápidamente de que existe un código indescifrable, creado por Ensei Tankado. Tiene la intención de subastar si Strathmore no revela la existencia de TRANSLTR a todo el mundo.</p>
    
    
    <p class="text-justify">De este modo, surgen dos intrigas paralelas: por un lado, la de David, que intenta a duras penas recuperar un anillo de oro de Tankado, ya fallecido, que probablemente contenga la clave; por otro lado, la de Susan, que investiga cómo descifrar el código, cómo explotarlo y cómo impedir la divulgación del código que dejaría impotente a la NSA.</p>
    
    <p class="text-justify">Entonces éste se entera de que Greg Hale es el cómplice de Tankado. Pero cuando intenta avisar a su superior, un informático descubre un virus en el superordenador y corta el suministro eléctrico para evitar que entre en la base de datos ultrasecreta de la NSA. Pero falla, es noqueado por Hale y asesinado por error por Strathmore. Desgraciadamente, Hale comete el error de desconectar la fuente de alimentación, y el circuito auxiliar sólo está preparado para el ordenador y no para las luces. El resto de la acción se desarrolla en la oscuridad: La heroína se entera por su jefe de su plan para introducir una "puerta secreta" en el algoritmo y hace todo lo posible para ayudarla.</p>

</div>


{% include 'footer.html' %}