<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="{{url_for('static', path='/style.css')}}" rel="stylesheet">
    <title>{{title | default("Document")}}</title>
</head>
<body>

<!--Navbar-->
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
          <a class="navbar-brand" href="/">Fortaleza Digital</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="True" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/personajes">Personajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tecnologias">Tecnologia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/aventura">Aventura</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reseña">Reseña</a>
              </li>
            </ul>
          </div>
        </nav>
    </header>


