

<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img src={{personaje['imagen']}} height="150px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nombre: {{personaje['id']}}</h5>
          <p class="card-text">Rol: {{personaje['rol']}}</p>
          <p class="card-text">Profesion: {{personaje['profesion']}}</p>
          <p class="card-text">Caracteristicas: {{personaje['caracteristicas']}}</p>
          <a href="/personajes/{{personaje['id']}}" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>