{% include 'navbar.html' %}

<div class= "container-text">
    <h1 class="text-center mt-4">Reseña</h1>
    <p>En lo personal no soy amante de la literatura, pero en el presente encontre una historia la cual habla de criptografía y las distintas tecnologías que esta implica. La tecnología mencionada ha cambiado y lo mismo pasa con la seguridad en las últimas dos décadas. Gran parte de la teoría y el enfoque es diferente hoy en día, y aunque no es necesario entender la tecnología para disfrutar del libro, en mi caso que soy estudiante de sistemas se siente un tipo de conexión. </p>
    
    <p>En general, la trama es intrigante. Un hombre muere, se presenta una amenaza con revelar todos los secretos de EE.UU. desde el sitio de la NSA. Tenía un virus y un código indescifrable. Lo que eso significa en realidad es muy diferente de lo que llegamos a saber en el libro.</p>
    
    <p>El personaje principal es una criptografía que trabaja para un alto mando de una organización que tiene control sobre la información. También presenta la diversidad. No obstante, ella está comprometida y su futuro marido está involucrado en la trama. Unos cuantos viajes por Europa, una pesadilla política y muchas explosiones ardientes. Y también algunos asesinatos.</p>
    
    <p>A Veces sentía que la trama era demasiado cliché, primero se presentaba un super argumento para presentar alguna nueva tecnología pero luego no hay ninguna razón por la que el prometido de la protagonista tenga que ser el que vaya a España. Se sintió como un dispositivo de la trama que no importaba, si realmente estaba calificado y llegamos a conocerlo más. Dicho esto, sentí que también llegamos a conocerlo mejor que a la protagonista. Era inteligente y muy cualificada, pero no sabía nada de ella personalmente. </p>
</div>
{% include 'footer.html' %}